# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/

# Flask instance folder
instance/

# React / Node
node_modules/
client/node_modules/
client/build/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/
